apiVersion: v1
kind: Secret
metadata:
  name: mqtt-credentials
  namespace: services
type: Opaque
stringData:
  username: admin
  password: "YOUR_MQTT_PASSWORD"
---
apiVersion: v1
kind: Secret
metadata:
  name: neo4j-credentials
  namespace: services
type: Opaque
stringData:
  username: neo4j
  password: YOUR_NEO4J_PASSWORD
