{
  "DetailedErrors": true,

  "Serilog": {
    "MinimumLevel": {
      "Default": "Warning",
      "Override": {
        "Timebase.Dataset": "Information",
        "Timebase.Historian": "Information"
      }
    }
  },

  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://0.0.0.0:4511"
      }
      //,"Https":
      //{
      //  "Url": "https://0.0.0.0:4512",
      //  "Certificate": {
      //    "Path": "../historian/settings/cert/<YourCert>.pfx",
      //    "Password": "<YourCertPassword>"
      //  }
      //}
    }
  },

  "Auth": {
    "Enabled": false,
    "IdP": {
      "Host": "pulse",
      "Port": 4542,
      "UseTls": true
    },
    "ClientId": "Historian",
    "ClientSecret": "<YourExplorerClientSecret>"
  }
}
